*,
*:after,
*:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 1px !important;
}

body {
    zoom: 90%;
    font: normal 14rem/21rem Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.paig-header {
    background: #000;
}

.header-wrppaer {
    height: 80px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo, .nav-item {
    color: #FFF;
}

.logo {
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    font-size: 24px;
    cursor: pointer;
}

.nav-item_list {
    width: auto;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 16px;
    height: 55px;
    font-size: 15px;
    font-weight: bolder;
}

.nav-item:hover {
    border-bottom: 3px solid #fcac45;
}







.outer {
    background: #000
}

.outer-wrapper {
    height: 727px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    color: #999999;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    padding: 20rem;
}

h1 {
    text-align: center;
    font-size: 50px;
    line-height: 44rem;
    text-transform: uppercase;
}

.openServer {
    color: #fcac45;
}

.line {
    background: #fcac45;
    margin: 0 auto;
    height: 2px;
    width: 100px;
    margin-top: 50px;
}

h2 {
    line-height: 26rem;
    font-size: 26rem;
}

.button {
    position: relative;
    display: inline-block;
    text-decoration: none;
    background: #fcac45;
    color: #fff;
    padding: 12rem 18rem;
    border-radius: 5rem;
    overflow: hidden;
    font-size: 17rem;
    font-weight: bold;
    text-shadow: 0px 0px 5px #ff9100;
}

i {
    border: solid #fff;
    border-width: 0 3rem 3rem 0;
    display: inline-block;
    padding: 3rem;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}














